<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pinc_open_gripper" params="
                name
                prefix
                default_color_rgba:='0 0 1. 1.'
                default_linkage_color_rgba:='0 0.5 1.0 1.0'
                default_tip_color_rgba:='0 0 1. 1.'
                "
  >

  <!-- Include links and joints -->
  <xacro:include filename="$(find pinc_open_driver)/urdf/gripper_links.xacro"/>

   <!-- Joints -->
  <joint name="${prefix}gripper" type="revolute">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}coupler"/>
    <origin xyz="0.053492 0 0.0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.44" upper="0" effort="5" velocity="1"/>
  </joint>

  <joint name="${prefix}base_link_to_right_arm" type="revolute">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}right_arm"/>
    <origin xyz="0.053492 -0.03250 -0.008"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.22" upper="0" effort="5" velocity="1"/>
    <mimic joint="${prefix}gripper" multiplier="0.5" offset="0.0"/>
  </joint>

  <joint name="${prefix}base_link_to_left_arm" type="revolute">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}left_arm"/>
    <origin xyz="0.053492 0.03250 -0.008"/>
    <axis xyz="0 0 1"/>
    <limit lower="1.22" upper="0" effort="5" velocity="1"/>
    <mimic joint="${prefix}gripper" multiplier="-0.5" offset="0.0"/>
  </joint>

  <joint name="${prefix}right_arm_to_right_finger" type="revolute">
    <parent link="${prefix}right_arm"/>
    <child link="${prefix}right_finger"/>
    <origin xyz="0.034641 0.020 -0.0002"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.22" effort="5" velocity="1"/>
    <mimic joint="${prefix}gripper" multiplier="-0.5" offset="0.0"/>
  </joint>

  <joint name="${prefix}left_arm_to_left_finger" type="revolute">
    <parent link="${prefix}left_arm"/>
    <child link="${prefix}left_finger"/>
    <origin xyz="0.034641 -0.020 0.0002"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.22" upper="0" effort="5" velocity="1"/>
    <mimic joint="${prefix}gripper" multiplier="0.5" offset="0.0"/>
  </joint>
  </xacro:macro>

</robot>
