<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pinc_open">
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="default_color_rgba" default="0 0 1.0 1.0"/>
  <xacro:arg name="default_linkage_color_rgba" default="0 0.5 1.0 1.0"/>
  <xacro:arg name="default_tip_color_rgba" default="0 0.0 1.0 1.0"/>
  <xacro:arg name="baud_rate" default="57600"/>
  <xacro:arg name="serial_port" default="/dev/pinc-gripper"/>
  <xacro:arg name="error_timeout_ms" default="500"/>
  <xacro:arg name="dxl_id" default="1"/>
  <xacro:arg name="operating_mode" default="3"/>

  <xacro:include filename="gripper_macros.xacro"/>
  <xacro:include filename="gripper_ros2_control.xacro"/>

  <xacro:pinc_open_gripper
    name="pinc_open"
    prefix="$(arg prefix)"
    default_color_rgba="$(arg default_color_rgba)"
    default_linkage_color_rgba="$(arg default_linkage_color_rgba)"
    default_tip_color_rgba="$(arg default_tip_color_rgba)"
  />
  <xacro:pinc_open_ros2_control
    name="pinc_open"
    use_mock_hardware="$(arg use_mock_hardware)"
    prefix="$(arg prefix)"
    default_color_rgba="$(arg default_color_rgba)"
    default_linkage_color_rgba="$(arg default_linkage_color_rgba)"
    default_tip_color_rgba="$(arg default_tip_color_rgba)"
    baud_rate="$(arg baud_rate)"
    serial_port="$(arg serial_port)"
    error_timeout_ms="$(arg error_timeout_ms)"
    dxl_id="$(arg dxl_id)"
    operating_mode="$(arg operating_mode)"
  />


</robot>



